body{
background-size: cover;
}


#heading
{
font-size: 30px;
width: 100%;
margin: 0px;
padding: 15px;
}

#status
{
font-size: 18px;
}

canvas{
    box-shadow: 31px  31px  31px  black ;
    border-radius: 30px;
}
